.cover {
  max-width: 1184px;
  min-height: 740px;
  position: relative;
  margin: 92px auto;
  background-image: url(../../images/__overlay.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 0;
}

.cover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity 0.2s ease;
}

.cover:hover::before {
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover {
    min-height: 480px;
    margin: 90px auto 88px;
  }
}

@media (max-width: 320px) {
  .cover {
    min-height: 200px;
    margin: 66px auto 64px;
  }
}